ion-header {
  background-color: transparent !important;
  width: calc(100% - 22px);
  margin: 10px auto;

  ion-toolbar {
    border-radius: 15px;

    ion-icon {
      width: 24px;
      height: 24px;
    }
  }
}

ion-content {
  ion-searchbar {
    --background: #2c303a;
  }

  ion-card {
    --background: #2c303a;

    ion-card-title {
      font-size: 20px;
    }

    ion-card-content {
      color: #a8a6ad;
    }
  }
}
