<ion-header translucent="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-circle-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Latest News</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content background="primary">
  <ion-searchbar
    show-clear-button="focus"
    animated="true"
    placeholder="Rechercher..."
  ></ion-searchbar>

  <ion-list>
    <ion-card
      button
      *ngFor="let article of articles"
      routerLink="/article"
      [state]="{article: article}"
    >
      <img alt="" src="{{article.urlToImage}}" />
      <ion-card-header>
        <ion-card-subtitle color="primary"
          >{{ article.author }}</ion-card-subtitle
        >
        <ion-card-title>{{ article.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content> {{ article.description }} </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
