<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-circle-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Latest News</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content background="primary">
  <ion-searchbar
    show-clear-button="focus"
    animated="true"
    placeholder="Rechercher..."
  ></ion-searchbar>
</ion-content>
