ion-content {
  ion-card {
    ion-card-subtitle {
      padding: 10px 0 15px 0;
    }

    ion-card-title {
      font-size: 20px;
    }

    ion-card-content {
      color: #a8a6ad;
    }

    ion-card-content {
      padding: 10px 0;
      text-align: justify;
    }

    ion-button {
      --padding-start: 0;
    }
  }
}
