<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347505037946-rnb2g7b530h1lbn9jeh3ietoenp14401.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347505037946-rnb2g7b530h1lbn9jeh3ietoenp14401</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347505037946-nce9eu37dfqeekrikjf386q18ietq495.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-wcrl63m7tutFj5qeP4wAZmtbBycypcA</string>
	<key>GCM_SENDER_ID</key>
	<string>347505037946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.julesbousrez.shortnews</string>
	<key>PROJECT_ID</key>
	<string>shortnews-4330b</string>
	<key>STORAGE_BUCKET</key>
	<string>shortnews-4330b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347505037946:ios:5826c09f54b9f6e7b8e1c3</string>
</dict>
</plist>